.nav_bar {
  width: 223px;
  min-width: 223px;
  height: 100vh;
  background: var(--navBarBlue);
  color: var(--navBarGray);
  box-sizing: border-box;
  padding: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#team_menu-top {
  display:flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
#team_menu-top h1 {
  font-size: 1.125rem;
  font-weight: bold;
  color: white;
}
#team_menu-top i {
  font-size: 20px;
}

#team_menu-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav_bar-threads {
  margin: 16px 0;
}

/* NavBar Channels */
#nav_bar-channels {
  margin: 16px 0 16px 0;
}
/* ChannelIndex */
#channel-index {
  margin: 0 -16px;
}
#channel-index li {
  display: block;
  margin: 4px 0 4px 16px;
}


.channel-index-item-inactive, 
.channel-index-item-active {
  display: inline-block;
  width: 100%;
  padding: 4px 0 4px 16px;
  margin-left: -16px;
  text-decoration: none;
  color: var(--navBarGray);
}
.channel-index-item-active {
  background: var(--navIndexBlue);
  color: white;
}

#nav_bar-channel_form {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none;
  border: none;
  color: var(--navBarGray);
  font-size: 16px;
  width: 100%;
  padding-right: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}
#nav_bar-channel_form:hover {
  background: rgba(193,197,202, 0.2);
}
#nav_bar-channel_form i {
  font-size: 14px;
  margin-right: 5px;
}

#nav_bar-new_message {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 192px;
}
#nav_bar-new_message i {
  font-size: 20px;
  
}

#nav_bar-new_message *:hover {
  color: white;
  transition: 250ms;
}

.direct-messages-index-item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.direct-messages-index-item:hover i {
  display: inline-block;
}

.direct-messages-index-item a {
  margin-right: -34px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.direct-messages-index-item i {
  display: none;
  font-size: 17px;
  font-weight: normal;
}
.direct-messages-index-item i:hover {
  color: white;
}

.action-button {
  border: none;
  align-items: center;
  background: var(--purple);
  color: white;
  border-radius: 4px;
  padding: 6px;
  margin: 4px 0;
  cursor: pointer;
}

.team-menu-div {
  display: flex;
  justify-content:  space-between;
}
.team-menu-per {
  font-size: 32px;
  color: white;
  padding: 0 8px 0 8px;
}