
.nav_bar {
  width: 223px;
  height: 100vw;
  background: var(--navBarBlue);
  color: var(--navBarGray);
  box-sizing: border-box;
  padding: 16px;

}

#team_menu-top {
  display:flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
#team_menu-top h1 {
  font-size: 1.125rem;
  font-weight: bold;
  color: white;
}
#team_menu-top i {
  font-size: 20px;
}

#team_menu-bottom {
  display: flex;
  justify-content: space-between;
}

/* NavBar Channels */
#nav_bar-channels {
  margin: 16px 0 24px 0;
}
/* ChannelIndex */
#channel-index {
  margin: 0 -16px;
}
#channel-index li {
  display: block;
  margin: 4px 0 4px 16px;
}


.channel-index-item-inactive, 
.channel-index-item-active {
  display: inline-block;
  width: 100%;
  padding: 4px 0 4px 16px;
  margin-left: -16px;
  text-decoration: none;
  color: var(--navBarGray);
}
.channel-index-item-active {
  background: var(--navIndexBlue);
  color: white;
}