
.splash-header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 1235px;
  height: 70px;
  padding: 0 4vw;
}

.splash-header:hover > * {
  cursor: pointer;
}

.splash-header-links {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.splash-header-links > li {
  color: var(--headerGray);
  padding: 16px;
}

.splash-header-right {
  display: flex;
  margin-left: auto;
  padding: 0;
}

.splash-header-login {
  text-decoration: none;
  font-weight: normal;
  color: var(--headerGray);
  padding: 16px;
}