@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.splash-body-hero-background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero-icon{
  width: 22px;
  position: relative;
  animation: fadein 2s;
  animation-delay: 250ms;
  animation-fill-mode: both;
}


.splash-body-hero-background #yellow-chat-icon {
  left: -45%;
  top: 2%;
}
.splash-body-hero-background #zendesk-icon {
  left: -65%;
  top: 45%;
}
.splash-body-hero-background #green-chat-icon {
  left: 65%;
  top: 13%;
}
.splash-body-hero-background #asana-icon {
  left: -15%;
  top: 100%;
}
.splash-body-hero-background #dropbox-icon {
  left: 15%;
  top: 90%;
}
.splash-body-hero-background #blue-chat-icon {
  left: -95%;
  top: 15%;
}
.splash-body-hero-background #hubspot-icon {
  left: 70%;
  top: 55%;
}
.splash-body-hero-background #atlassian-icon {
  left: 80%;
  top: 10%;
}
.splash-body-hero-background #google-icon {
  left: -55%;
  top: 80%;
}
.splash-body-hero-background #zoom-icon {
  left: -85%;
  top: 20%;
}
.splash-body-hero-background #red-chat-icon {
  left: -95%;
  top: 90%;
}
.splash-body-hero-background #yellow-chat-icon-2 {
  left: 85%;
  top: 80%;
}
.splash-body-hero-background #green-chat-icon-2 {
  left: -120%;
  top: 100%;
}
.splash-body-hero-background #blue-chat-icon-2 {
  left: 55%;
  top: 90%;
}
.splash-body-hero-background #red-chat-icon-2 {
  left: 85%;
  top: 30%;
}

.splash-body-hero{
  height: 420px;
  padding: 10px 0 80px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
}

.splash-body-hero-content {
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
  position: relative;
}

.splash-body-hero-header {
  max-width: 940px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash-body-hero-header > * {
  margin-bottom: 18px;
}
.splash-body-hero-header-form {
  margin: 15px;
}
.splash-body-hero-header-form > input.splash-button {
  padding: 20px 40px;
  background: white;
  border-color: var(--purple);
  color: black;
  margin-right: 8px;
  font-weight: normal;
  cursor: auto;
}
.splash-body-hero-header-form > a.splash-button {
  padding: 21px 40px;
}


.splash-body-hero-header-email {
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

.splash-body-hero-header #form-follower {
  font-size: 14px;
}
.splash-body-hero-header #form-follower > a {
  text-decoration: none;
  color: var(--linkBlue);
  border-bottom: 1px solid var(--linkBlue);
}
.splash-body-hero-header #form-follower > a:hover {
  border-bottom: 2px solid;
}

.splash-body-hero-header > h1 {
  max-width: 730px;
  font-weight: bold;
  font-size: 64px;
}

.splash-body-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash-body-section > h2 {
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 32px;
}


.splash-button {
  cursor: pointer;
  padding: 14px 16px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background: var(--purple);
  align-self: center;
  border-radius: 4px;
  text-decoration: none;
}
